

input:-webkit-autofill {transition: background-color 5000s ease-in-out 0s;}
select:-webkit-autofill {transition: background-color 5000s ease-in-out 0s;}




select{
	/* background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%; */
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=) no-repeat 95% 50%;
  -moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
}



.form-container {
    font-family: 'Noto Sans', sans-serif;
    // align-items: center;
    justify-content: space-between;
    background-color: #f3f6fd;
    border-right: 2px solid  #d7dff4;
    width: 35%;
    padding-bottom: 5vw;

    
    .icon {
      padding: 2vw 1vw;
      margin-bottom: 1vw;
      
      img {
        width: 4vw;
        // height: 50px;

        @media (max-width: 880px) {
          width: 6vw;
          }   

        @media (max-width: 750px) {
            width: 8vw;
            }          
             
        @media (max-width: 650px) {
          width: 10vw;
          padding: 2vw 3vw;
          }       
      }
    }
  
    .info {
      display: flex;
      align-items: center;
    //   justify-content: center;
    //   margin-bottom: 20px;
    //   width: 35%;
  
      .info-item {
        display: flex;
        background-color: #FFF;
        padding: 0vw 4vw;
        flex-direction: column;
        align-items: center;
        margin: 0 0.1vw;
        width: 1.2%;
        cursor: pointer;
    font-family: 'Noto Sans', sans-serif;

            
    @media (max-width: 880px) {
      width: 17.5%;

    }
  
        img {
          margin-top: 1vw;
          width: 2vw;

    @media (max-width: 880px) {
          width: 3.5vw;
          }
          
    @media (max-width: 700px) {
      width: 4.5vw;
      margin-top: 2vw;

      }
                
    @media (max-width: 550px) {
      width: 6.5vw;
      }


        }
        .img2 {
            display: none;
          }
  
        p {
          margin-top: 0.5vw;
          font-size: 1vw;
          color: #9ea7bf;
          text-align: center;
          
    @media (max-width: 880px) {
      font-size: 1.5vw;

      }
                
    @media (max-width: 700px) {
      font-size: 2vw;

      }
                
      @media (max-width: 550px) {
        font-size: 2.5vw;
  
        }
        }

        &:hover {
            background-color: #537943;
            img {
                display: none;

              }
              .img2 {
                display: block;
                margin-top: 1vw;
                width: 2vw;
                
    @media (max-width: 880px) {
      width: 3.5vw;
      }
               
    @media (max-width: 700px) {
      width: 4.5vw;
      margin-top: 2vw;
      }
                      
    @media (max-width: 550px) {
      width: 6.5vw;
      }
                }
        
              p {
                color: #fff;
              }
          }

      }
    }

    .form-header{    
      color: #64708d; 
      margin-top: 3vw;         
      font-size: 2vw;
      margin-left: 3vw;

                
    @media (max-width: 880px) {
      font-size: 3.5vw;

      }
                    
    @media (max-width: 700px) {
      font-size: 4vw;

      }
                          
    @media (max-width: 650px) {
        font-size: 5vw;
  
        }                        
        @media (max-width: 550px) {
          font-size: 6vw;
    
        }
    
        @media (max-width: 380px) {
          font-size: 7vw;
        }
        }

    .brand {
      color: #299ef3;
      font-family: 'Noto Sans', sans-serif;
      font-size: 2vw;
      margin-left: 3vw;
      margin-top: -1.5vw;
      margin-bottom: 3vw;
      font-weight: 700;

                      
    @media (max-width: 880px) {
      font-size: 3.5vw;
      margin-top: -3vw;

      }
                         
    @media (max-width: 700px) {
      font-size: 4vw;
      margin-bottom: 4vw;

      }
                                
    @media (max-width: 650px) {
      margin-top: -4vw;
      font-size: 5vw;
      margin-bottom: 5vw;


      }                        
    @media (max-width: 550px) {
      margin-top: -5vw;
      font-size: 6vw;
      margin-bottom: 6vw;

    }

    @media (max-width: 380px) {
      margin-top: -6vw;
      font-size: 7vw;
      margin-bottom: 6vw;

    }
    }
  
    form {
      margin-left: 3vw;


                      
      @media (max-width: 880px) {
        margin-left: 10vw;
  
        }        
      @media (max-width: 500px) {
        margin-left: 5vw;
        }

          label {
        color: #000;

          font-weight: bold;
          font-size: 1vw;
          margin-bottom: 1.5vw;

                      
          @media (max-width: 1000px) {
            font-size: 1.2vw;
      
            } 
                      
          @media (max-width: 880px) {
            font-size: 1.5vw;
      
            }  
                      
          @media (max-width: 750px) {
              font-size: 2vw;
        
              }                     
                                    
          @media (max-width: 550px) {
            font-size: 2.5vw;
      
            }  
                                                
          @media (max-width: 450px) {
            font-size: 3vw;
      
            }   
                                                            
          @media (max-width: 380px) {
            font-size: 3.5vw;
      
            }                    
        }


.div-display{
  display: flex;
  justify-content: space-between; /* Align items at the beginning and end of the container */
  align-items: center; 
  margin-right: 2.5vw;
   
                          
  @media (max-width: 880px) {
  margin-right: 12vw;

    }   
  @media (max-width: 500px) {
      margin-right: 5vw;
    
        } 
  @media (max-width: 450px) {
    display: block;

    }   
}



//^ kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk          Form Div

      .form-div{
        /* display: -webkit-flex; */
        /* -webkit-flex-wrap: wrap; */
        display: flex;
        /* flex-wrap: wrap; */
        margin-bottom: 1rem;
        margin-top: 0.5vw;
         margin-right: 8%;
        //  margin-left: 20%; 

                      
        @media (max-width: 880px) {
          margin-right: 12vw;
    
          }          
        @media (max-width: 500px) {
            margin-right: 5vw;
            }  

    }
    .location-input{
        flex: 1 1 auto;
        font-weight: 400;
        /* height: calc(1.5em + 1rem + 2px); */
        padding: 0.8rem 1rem;
        /* font-size: 1.25rem; */
        line-height: 1.5;
        color: #000;
        background-color: #fff;
        border: 2px solid rgba(84, 95, 125, 0.15);
        border-radius: 0px 5px 5px 0px;
        border-left: none;
        /* border-radius: .3rem 0 0 .3rem; */
        outline: 0;
        width: 90%;
        margin-left: -0.1vw;
        font-family: 'Archivo', sans-serif;
    }

    .icon-button{
        border: 2px solid rgba(84, 95, 125, 0.15);
        padding: 0.8vw 1.5vw;
        padding-right: 0;

        img {
            width: 2vw;
            // vertical-align: middle;
            @media (max-width: 880px) {
              width: 3vw;
            }
                                     
            @media (max-width: 700px) {
              width: 3.5vw;

              }
                                        
            @media (max-width: 650px) {
              width: 4vw;


              }                        
            @media (max-width: 550px) {
              width: 5vw;

            }

            @media (max-width: 380px) {
              width: 6vw;


            }
          }
    }

    
    .departure-padding{
        // margin-right: -7%;

        
        @media (max-width: 880px) {
          margin-right: 0;
        }
    }

//^ kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk          Date Div
    

    .date-div{
            /* display: -webkit-flex; */
            /* -webkit-flex-wrap: wrap; */
            display: flex;
            /* flex-wrap: wrap; */
            margin-bottom: 1rem;
            margin-top: 0.5vw;
             margin-right: 15%;
             width: 14.5vw;

            //  margin-left: 20%; 

            @media (max-width: 880px) {
              width: 38vw;
            }
            
            @media (max-width: 500px) {
              width: 44vw;
            }
                        
            @media (max-width: 450px) {
              width: 90vw;
            }

        }
        .location-input{
            flex: 1 1 auto;
            font-weight: 400;
            /* height: calc(1.5em + 1rem + 2px); */
            padding: 0.8rem 1rem;
            /* font-size: 1.25rem; */
            line-height: 1.5;
            color: #000;
            background-color: #fff;
            border: 2px solid rgba(84, 95, 125, 0.15);
            border-radius: 0px 5px 5px 0px;
            border-left: none;
            /* border-radius: .3rem 0 0 .3rem; */
            outline: 0;
            width: 90%;
            font-family: 'Archivo', sans-serif;
        }




//^ kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk          Class Div
    
.booking-padding{
    // margin-right: 6%;

    
    @media (max-width: 880px) {
      margin-right: 0;
    }
}

.class-div{
  /* display: -webkit-flex; */
  /* -webkit-flex-wrap: wrap; */
  display: flex;
  /* flex-wrap: wrap; */
  margin-bottom: 1rem;
  margin-top: 0.5vw;
   margin-right: -10%;
  //  margin-left: 20%; 
  width: 14.5vw;

  @media (max-width: 880px) {
    width: 38vw;
  }
              
  @media (max-width: 500px) {
    width: 44vw;
  }
                          
  @media (max-width: 450px) {
    width: 90vw;
  }
}



  
      .flight-button-div{
        margin-right: 2.5vw;
                              
        @media (max-width: 880px) {
          margin-right: 10.5vw;
          }        
                                        
        @media (max-width: 700px) {
          margin-right: 11.5vw;
          }   
                                        
        @media (max-width: 500px) {
          margin-right: 5.5vw;
          }     
      }
  
      .find-flight-button {
        font-family: 'Noto Sans', sans-serif;
        background-color: #A9B7DC;
        color: white;
        border: none;
        padding: 1vw 2vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        font-size: 1.2vw;
        font-weight: 700;
        width: 100%;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #263DC5
        }

                              
        @media (max-width: 880px) {
          padding: 1.5vw 2vw;
          font-size: 1.7vw;  
          }    
                                        
        @media (max-width: 750px) {
          padding: 2vw 2vw;
          font-size: 2.2vw;  
          }   
                                        
        @media (max-width: 550px) {
          padding: 2.5vw 2vw;
          font-size: 2.5vw;  
          }   
                                                  
        @media (max-width: 450px) {
          padding: 3vw 2vw;
          font-size: 3.5vw;  
          }  
                                                  
        @media (max-width: 550px) {
          padding: 3.5vw 2vw;
          font-size: 4.5vw;  
          }  
      }
    }


        
    @media (max-width: 880px) {
      background-color: #e9f0f8;
      border-right: none;
      width: 100%;
    
        } 



        
    .footer-line{
      display: none;
      
  @media (max-width: 880px) {
      display: block;
      border: none;
      border-top: 2px solid  #d7dff4;
      max-width: 85vw;
      margin: auto;
      margin-top: 6vw;
  }
  }
  }
  